body {
  font-family: 'Open Sans', sans-serif;

  background-color: #f5f9fc;
  padding-top: 100px;

  padding: 50px;

  main {
    max-width: 1000px;
    margin: 0 auto;
  }

  h1 {
    font-weight: 300;
  }

  .results {
    color: #7a92a5;
    font-size: 12px;
    margin: 12px 5px;
  }

  a {
    color: #3899ec;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
  }
}
